    <div>
        <label
            class="control-label col-sm-1"
            for="request"
        >Request</label>
        <div class="col-sm-5">
            <textarea
                rows="6"
                id="request"
                name="request"
            ></textarea>
        </div>
        <label
            class="control-label col-sm-1"
            for="response"
        >Response</label>
        <div class="col-sm-5">
            <textarea
                rows="6"
                id="response"
                name="response"
            ></textarea>
        </div>
    </div>
