{% extends 'fragments/base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="/static/css/code-mirror-fixed-height.css"
></link>
{% endblock %}

{% block body %}

<div class="col-sm-offset-1 col-sm-11">
{% block header %}
    <h2>Search</h2>
{% endblock %}
</div>
<form class="form-horizontal" id="my-form">
    <div class="form-group">
        <label
            class="control-label col-sm-1"
            for="filter"
        >Filter</label>
        <div class="col-sm-5">
            <textarea
                class="form-control"
                rows="6"
                id="filter"
                name="filter"
            >{% block default_filter %}{}{% endblock %}</textarea>
        </div>
        <label
            class="control-label col-sm-1"
            for="sort"
        >Sort</label>
        <div class="col-sm-5">
            <textarea
                class="form-control"
                rows="4"
                id="sort"
                name="sort"
            >{% block default_sort %}[]{% endblock %}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label
            class="control-label col-sm-1"
            for="skip"
        >Skip</label>
        <div class="col-sm-1">
            <input
                type="number"
                class="form-control"
                id="skip"
                name="skip"
                value="0"
            ></input>
        </div>
        <label
            class="control-label col-sm-1"
            for="limit"
        >Limit</label>
        <div class="col-sm-1">
            <input
                type="number"
                class="form-control"
                id="limit"
                name="limit"
                value="100"
            ></input>
        </div>
        <div class="col-sm-offset-2 col-sm-1">
            <button
                type="submit"
                class="btn btn-primary"
            >Submit</button>
        </div>
    </div>
</form>

{% include "fragments/request_response.html" %}

<div
    class="alert alert-success col-sm-offset-1 col-sm-11"
    role="alert"
    id="alert"
></div>
<div class="col-sm-offset-1 col-sm-11">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        {% block thead %}
            <tr>
                <th scope="col">Name (name)</th>
                <th scope="col">DateTime (dt)</th>
            </tr>
        {% endblock %}
        </thead>
        <tbody class="table-striped"></tbody>
    </table>
</div>
{% endblock %}

{% block footer %}

<script>
var API_METHOD = 'GET';

function formToParams(){
    // The JSON must be in string format to be passed to query params
    var j = {
        'filter': filterCodeMirror.getValue(),
        'sort': sortCodeMirror.getValue(),
        'skip': parseInt(
            $('#skip').val()
        ),
        'limit': parseInt(
            $('#limit').val()
        )
    };
    return $.param(j);
}

function paramsToForm(){
    var query_params = window.location.search;
    let search_params = new URLSearchParams(query_params);

    if (search_params.has('filter')){
        filterCodeMirror.setValue(
            search_params.get('filter')
        );
    }

    if (search_params.has('sort')){
        sortCodeMirror.setValue(
            search_params.get('sort')
        );
    }

    if (search_params.has('skip')){
        $("#skip").val(
            search_params.get("skip")
        );
    }

    if (search_params.has('limit')){
        $("#limit").val(
            search_params.get("limit")
        );
    }
}

var filterCodeMirror = $("#filter").codemirror(JSONEditorConfig);
var sortCodeMirror = $("#sort").codemirror(JSONEditorConfig);

</script>
<script
    src="/static/js/on-search.js"
></script>
<script
    src="/static/js/query-param-request.js"
></script>
<script
    src="/static/js/json-response.js"
></script>
{% block footer_script %}
{% endblock %}
{% endblock %}
