{% extends 'fragments/base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="/static/css/code-mirror-auto-height.css"
></link>
{% endblock %}

{% block body %}
<div class="col-sm-offset-1 col-sm-11">
    <h2>Add a new Thing</h2>
</div>

<form class="form-horizontal" id="my-form">
    <div class="form-group">
        <label
            class="control-label col-sm-1"
            for="name"
        >Name</label>
        <div class="col-sm-11">
            <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter name"
                required
            >
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button
                type="submit"
                class="btn btn-primary"
            >Submit</button>
        </div>
    </div>
</form>

{% include "fragments/request_response.html" %}

<div
  class="alert alert-success col-sm-offset-1 col-sm-11"
  role="alert"
  id="alert"
></div>

{% endblock %}

{% block footer  %}
<script>
var API_ENDPOINT = '/api/v1/things';
var API_METHOD = 'POST';

function formToJSON(){
    return JSON.stringify({
        "name": $("#name").val()
    });
}
</script>
<script src="/static/js/on-form-submit.js"></script>

<script
    src="/static/js/json-request.js"
></script>
<script
    src="/static/js/json-response.js"
></script>
{% endblock %}
