{% extends 'fragments/base.html' %}

{% block head %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"
>

<style>
.docs {
    text-align: left;
}
</style>
{% endblock %}

{% block body %}
<div class="col-sm-12">
    <h2>API Documentation</h2>
</div>

<div
  class="alert alert-success col-sm-12"
  role="alert"
  id="alert"
>
</div>

<div
  class="docs col-sm-12"
  id="docs"
>
<h2>URIs</h2>
<ul id="toc">
</ul>
</div>

{% endblock %}

{% block footer  %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/json.min.js"
></script>

<script>
var API_ENDPOINT = "/api/v1/docs";


/*  Recursively convert a type docstring (and all child types) to HTML
Args:
    docstring: object, see the DocString class in the REST API
*/
function DocStringToHTML(docstring){
    var html_list = ['<ul>'];
    $.each(
        docstring.args,
        function(i, arg){
            if(arg.hide){
                return;
            }
            let elem = [];
            elem.push('<li>');
            elem.push('<strong>Name:</strong> ' + arg.name);
            elem.push('<ul>');
            elem.push('<li><strong>Description:</strong> ' + arg.desc + '</li>');
            elem.push('<li><strong>Type:</strong> ' + arg.type + '</li>');
            elem.push('<li><strong>Required:</strong> ' + arg.required + '</li>');
            if(!arg.required){
                elem.push(
                    '<li><strong>Default:</strong> ' + arg.default + '</li>'
                );
            }
            if(arg.subtypes){
                elem.push(
                    '<li><strong>SubTypes:</strong> ' +
                    arg.subtypes +
                    '</li>'
                );
            }
            if(arg.docstring){
                elem.push('<li>');
                elem.push('<strong>Parameters:</strong>');
                elem.push(
                    DocStringToHTML(arg.docstring)
                );
                elem.push('</li>');
            }
            elem.push('</ul>');
            elem.push('</li>');
            html_list.push(elem.join("\n"));
        }
    );
    html_list.push('</ul>');
    return html_list.join("\n");
}


$.ajax({
    type: 'GET',
    url: API_ENDPOINT,
    success: function(j, textStatus, jqXHR){
        $.each(
            j.routes,
            function(i, v){
                /* v is a Route object */
                if(v.hide){
                    return;
                }
                $('#toc').append(
                    '<li><a href="#' + v.uri + '">' + v.uri + '</a></li>'
                );
                $('#docs').append(
                    '<h2 id="' + v.uri + '">' + v.uri + '</h2>'
                );
                $.each(
                    v.methods,
                    function(i, v){
                        /* v is a RouteMethod object */
                        $('#docs').append('<h3>' + v.method + '</h3>');
                        $('#docs').append('<h4>Description</h4>');
                        $('#docs').append('<div>' + v.description + '</div>');
                        let request_example = JSON.stringify(
                            v.request_example,
                            null,
                            '    '
                        );
                        $('#docs').append('<h4>Request Example</h4>');
                        $('#docs').append(
                            '<pre><code class="json">' +
                            request_example +
                            '</code></pre>'
                        );
                        if(v.request_help){
                            $('#docs').append('<h4>Request Help</h4>');
                            $('#docs').append(
                                DocStringToHTML(v.request_help)
                            );
                        }
                        $.each(
                            v.responses,
                            function(i, v){
                                let response_example = JSON.stringify(
                                    v.response_example,
                                    null,
                                    '    '
                                );
                                $('#docs').append(
                                    '<h4>Response ' + v.codes + '</h4>'
                                );
                                $('#docs').append(
                                    '<p>' + v.description + '</p>'
                                );
                                $('#docs').append(
                                    '<pre><code class="json hljs">' +
                                    response_example +
                                    '</code></pre>'
                                );
                                if(v.response_help){
                                    $('#docs').append(
                                        '<h4>Response Help</h4>'
                                    );
                                    $('#docs').append(
                                        DocStringToHTML(v.response_help)
                                    );
                                }
                            }
                        );
                    }
                );
            }
        );
        $('#alert').removeClass();
        $('#alert').addClass(
            "alert alert-success col-sm-offset-1 col-sm-11"
        );
        $('#alert').html(
            "Text Status: " + textStatus
        );
    },
    error: function(xhr, ajaxOptions, thrownError){
        $('#alert').removeClass();
        $('#alert').addClass(
            "alert alert-danger col-sm-offset-1 col-sm-11"
        );
        $('#alert').html(
            decodeURIComponent(
                [
                    "Thrown Error: " + thrownError,
                    "Response Text: " + xhr.responseText
                ].join("<br />")
            )
        );
    },
    //dataType: "json",
    contentType : "application/json"
});

hljs.initHighlightingOnLoad();
</script>

{% endblock %}
