{% extends 'fragments/base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="/static/css/code-mirror-auto-height.css"
></link>
{% endblock %}

{% block body %}
<div class="col-sm-offset-1 col-sm-11">
    <h2>Health</h2>
</div>
<form class="form-horizontal" id="my-form">
    <div class="form-group">
        <label
            class="control-label col-sm-1"
            for="health"
        >Response</label>
    <div class="col-sm-11">
        <textarea
            class="form-control"
            rows="10"
            id="health"
            name="health"
        ></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button
        type=button
        class="btn btn-primary"
        onclick="onFormSubmit(API_ENDPOINT, 'GET')"
      >Refresh</button>
    </div>
  </div>
</form>

<div
  class="alert alert-success col-sm-offset-1 col-sm-11"
  role="alert"
  id="alert"
>
</div>

{% endblock %}

{% block footer  %}
<script>
var API_ENDPOINT = "/api/v1/health";

var healthCodeMirror = $("#health").codemirror(
    Object.assign(
        {
            "readOnly": true
        },
        JSONEditorConfig
    )
);


function onFormSubmit(api_url, http_method){
    $.ajax({
        type: http_method,
        url: api_url,
        success: function(j, textStatus, jqXHR){
            healthCodeMirror.setValue(
                JSON.stringify(j, null, 2)
            );
            $('#alert').removeClass();
            $('#alert').addClass(
                "alert alert-success col-sm-offset-1 col-sm-11"
            );
            $('#alert').html(
                "Text Status: " + textStatus
            );
        },
        error: function(xhr, ajaxOptions, thrownError){
            $('#alert').removeClass();
            $('#alert').addClass(
                "alert alert-danger col-sm-offset-1 col-sm-11"
            );
            $('#alert').html(
                decodeURIComponent(
                    [
                        "Thrown Error: " + thrownError,
                        "Response Text: " + xhr.responseText
                    ].join("<br />")
                )
            );
            healthCodeMirror.setValue("");
        },
        //dataType: "json",
        contentType : "application/json"
    });
}

onFormSubmit(API_ENDPOINT, 'GET');
</script>
{% endblock %}
